.*.swp
.*.swo
.pydev*
.pytest_cache
.project*
*.pyc
.cache
__pycache__
INSTALLED_FILES*
PKG-INFO
build/
dist/
*.egg-info
.coverage
coverage-html
doc/source/tests
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
rpmbuild
.venv/
venv/
junit*.xml
