pytest
coverage
pytest-cov
lxml
scandir
file-magic
wand>0.5.1
Pillow
ffmpeg-python
M2Crypto
python-mimeparse
six
olefile
opf-fido
pymediainfo
git+https://github.com/Digital-Preservation-Finland/xml-helpers.git#egg=xml_helpers
git+https://github.com/Digital-Preservation-Finland/mets.git#egg=mets
git+https://github.com/Digital-Preservation-Finland/premis.git#egg=premis
git+https://github.com/Digital-Preservation-Finland/dpres-signature.git#egg=dpres_signature
git+https://github.com/Digital-Preservation-Finland/nisomix.git#egg=nisomix
git+https://github.com/Digital-Preservation-Finland/addml.git#egg=addml
git+https://github.com/Digital-Preservation-Finland/audiomd.git#egg=audiomd
git+https://github.com/Digital-Preservation-Finland/videomd.git#egg=videomd
git+https://github.com/Digital-Preservation-Finland/file-scraper.git#egg=file-scraper
