pytest
coverage
pytest-cov
lxml
scandir
file-magic
wand
Pillow
M2Crypto
python-mimeparse
dateutils
git+https://source.csc.fi/scm/git/pas/xml-helpers@develop#egg=xml_helpers
git+https://source.csc.fi/scm/git/pas/mets@develop#egg=mets
git+https://source.csc.fi/scm/git/pas/premis@develop#egg=premis
git+https://source.csc.fi/scm/git/pas/dpres-signature@develop#egg=dpres_signature
git+https://source.csc.fi/scm/git/pas/dpres-ipt@develop#egg=ipt
git+https://source.csc.fi/scm/git/pas/nisomix@develop#egg=nisomix
